:root {
    --dark-gray: #2d2d2d;
    --glass-gray: #353535;
    --primary: #0dcaf0;
    --golden-glass: rgba(65, 62, 57, 0.65);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Vazirmatn;
    z-index: 100;
}

.navbar-nav .nav-link.active {
  color: rgba(255, 193, 7, 1) !important;
}

body {
  background-color: var(--dark-gray);
}

h1,
h2,
h3,
h4,
p,
li {
  direction: rtl;
}

main .icon {
  width: 22.5px;
  height: 22.5px;
  transform: translateY(10px);
  z-index: 101;
}

header {
    height: 75px !important;
    background-color: var(--dark-gray);
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

.dropdown-toggle::after {
    display: none !important;
}

.custom-triangle {
    width: 12px;
    height: 8px;
    display: inline-block;
    color: #fff;
}

#navMobileBtn {
    border: none;
    transform: rotate(90deg);
    outline: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}

main {
  background-color: var(--dark-gray);
  height: fit-content;
}

main h2 {
  font-family: Yekan;
  font-weight: 900;
  font-size: 3rem;
}

main .input-card {
  background-color: var(--glass-gray);
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 0.8;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  padding-bottom: 0;
  height: 245px;
}

main .payment {
  background-color: var(--glass-gray);
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 0.8;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  padding-bottom: 0;
}

main .input-card .card-body {
  transform: translateY(-32.5px);
}

main .input-card .card-body p.card-title {
  font-size: 0.8rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  height: 30px !important;
  background-color: var(--glass-gray);
  width: 95px;
  align-self: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
}

main .card-body img.face {
  width: 55px;
}

main .card-body p.sub {
  font-size: 12px;
  opacity: 0.9;
  margin-top: -15px;
}

.upload-box {
  border: 1.75px dashed var(--primary);
  padding: 7.5px;
  text-align: center;
  cursor: pointer;
  border-radius: 12.5px;
  direction: rtl;
  background-color: #0dcaf030;
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  font-size: 14px;
}

@media (max-width: 992px) {
    #navDropdown {
        width: 100% !important;
    }

    main {
      height: fit-content !important;
    }

    section .dash-line {
       display: none;
    }

    #course-banner-wrapper {
      width: 100% !important;
    }
}

#analyzeBtn {
  background: #CE31B0;
  background: linear-gradient(90deg, rgba(206, 49, 176, 1) 0%, rgba(158, 98, 210, 1) 55%, rgba(116, 141, 240, 1) 100%);
  border-radius: 15px !important;
}

#analyzeBtn.fade-shadow {
  box-shadow: 0 0 0 rgba(0,0,0,0);
}

#progressBar {
  transition: width 0.3s linear;
}

.modal-footer {
  border: none;
}

.modal-footer .btn {
  background: linear-gradient(90deg, rgba(206, 49, 176, 1) 0%, rgba(158, 98, 210, 1) 55%, rgba(116, 141, 240, 1) 100%);
  border: none;
  box-shadow: -24px 10px 43px -8px rgba(232,143,229,0.6), 22px -12px 43px -8px rgba(232,143,229,0.6);
}

@media (max-width: 576px) {
  main #cardContainer .card {    
    width: 325px !important;  
  }
  
  main #analyzeBtn {
    width: 325px !important;
  }

  #statistics img {
    height: 1rem !important;
    margin-bottom: 0.25rem !important;
  }
}

@media (max-width: 1200px) {
  main {
    height: fit-content !important;
  }

  section .face {
    height: 10rem !important;
  }
  
  section > div > div  div > img.after:nth-child(2) {
    transform: translate(57.5px, -115px) !important;
  }
}

section {
  height: fit-content;
  background-color: var(--dark-gray);
}

/**section > div > img {
  height: 5rem;
}*/

#marketing .card {
  background-color: var(--golden-glass);
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  height: fit-content;
}

#analyzeResult .card {
  backdrop-filter: blur(5px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  height: fit-content;
}

#analyzeResult .card.danger {
  background-color: rgba(220, 53, 69, 0.3);
}

#analyzeResult .card.success {
  background-color: rgba(25, 135, 84, 0.3);
}

#analyzeResult .card.result {
  background-color: rgba(13, 27, 42, 0.3);
}

section .card > div > div {
  height: 65px;
}

#statistics > div > div:nth-child(2),
#statistics > div > div:nth-child(3) {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}

section #statistics img {
  height: 1.75rem;
  margin-bottom: 0.5rem;
}

section .card p {
  font-size: 12px;
}

#faceSamples {
  transform: translateX(-37.5px);
  margin-top: 5rem;
  margin-bottom: 5rem;
}

section > div > div  div > img.face {
  height: 13rem;
}

section > div > div  div > img.after:nth-child(2) {
  transform: translate(75px, -150px);
}

#faceSamples > div {
  height: 13rem;
}

#course {
  height: fit-content;
}

#course h3 {
  color: #fff;
  font-weight: 600;
  font-size: 1.25rem;
  text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

#course li {
  font-family: Yekan;
  margin-bottom: 10px;
}

#course li img {
  margin-left: 7.5px;
}

#course a {
  background: #CE31B0;
  background: linear-gradient(90deg, rgba(206, 49, 176, 1) 0%, rgba(158, 98, 210, 1) 55%, rgba(116, 141, 240, 1) 100%);
  border-radius: 15px !important;
}

#course-banner-wrapper {
  width: 25%;
}

footer {
  height: 75px !important;
  background-color: var(--dark-gray);
  border-top: 2px solid rgba(255, 255, 255, 0.15);
}


/**
 * 8
 * 5
 * 3
 * 2
 * 1
 * 1
*/
.fs-one {
  font-size: 48px !important;
}

.fs-two {
  font-size: 30px !important;
}

.fs-three {
  font-size: 18px !important;
}

.fs-four {
  font-size: 12px !important;
}

.m-16 {
  margin: 16px !important;
}

.my-16 {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.m-10 {
  margin: 10px !important;
}

.my-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.m-6 {
  margin: 6px !important;
}

.my-6 {
  margin-top: 6px !important;
  margin-bottom: 6px !important;
}

header {
  position: sticky;
  top: 0;
  z-index: 101 !important;
}

@keyframes breathingGlow {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.12);
    opacity: 0.9;
  }
  100% {
    transform: scale(1);
    opacity: 0.6;
  }
}

#courseTitle img {
  width: 500px;
  height: auto !important;
}

@media (max-width: 768px) {
  #courseTitle img {
    width: 100%;
    height: auto !important;
    align-self: center;
  }
}

.neon-button {
    cursor: pointer;
    color: white;
    outline: none;
    box-shadow: 0 0 15px rgba(214, 51, 132, 0.6);
    transition: all 0.3s ease;
}

.neon-button:hover {
    box-shadow: 0 0 20px rgba(214, 51, 132, 0.8);
    transform: translateY(-2px);
}

@media (min-width: 576px) {
  .upload-box,
  .open-camera-btn {
    width: 50% !important;
  }
}

main .card {
  height: fit-content;
}